
@{
    ViewBag.Title = "Home Page";
}
<div id="titleAllWrapper">
    <div id="leftSidebar"></div>
    <div class="text-center">
        <div>
            <h1 id="titleHeader">&#8201 A &nbsp&nbsp&#8201 O &nbsp&nbsp B</h1>
            <h1 id="titleHeader">&#8201 R &nbsp&nbsp&#8201&#8201 F &nbsp&nbsp O</h1>
            <h1 id="titleHeader">&#8201 T &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp N</h1>
            <h1 id="titleHeader">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&#8201&#8201  S</h1>
            <h1 id="titleHeader">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&#8201&#8201  A</h1>
            <h1 id="titleHeader">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&#8201&#8201  I</h1>
        </div>
    </div>
    <div id="rightSidebar"></div>

</div>
