@model samStore.Models.ForgotPasswordViewModel

@{
    ViewBag.Title = "ForgotPassword";
}

<h2>ForgotPassword</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();

    @Html.LabelFor(x => x.Email)
    @Html.TextBoxFor(x => x.Email)
    @Html.ValidationMessageFor(x => x.Email)



    <input type="submit" value="ForgotPassword" />
}

